In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Loading the data
file_dir = r"C:\Users\HP\Documents\rat_biomed_data"
csv_files = ["adrenal.csv", "blood-rna.csv", 
             "brown-adipose.csv", "colon.csv", "cortex.csv", 
             "endurance_phenotype.csv", "gastrocnemius.csv", 
             "heart.csv", "hippocampus.csv", 
             "hypothalamus.csv", "kidney.csv",
             "liver.csv", "lung.csv",
             "ovaries.csv", "smallintestine.csv",
             "spleen.csv", "testes.csv",
             "vastus.csv", "vena-cava.csv", "white-adipose.csv"
            ]

In [3]:
# Creating the dataframes for the files
dataframes = {}
for all_files in csv_files:
    file_path = os.path.join(file_dir, all_files)
    dataframe_name = os.path.splitext(all_files)[0]
    dataframes[dataframe_name] = pd.read_csv(file_path)

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\226248416.py:6: DtypeWarning: Columns (38,42,43,49,81,82,109,119,129,139,149,159,169,179,189,199,200,202,209,210,212,219,220,222,229,230,232,239,240,242,249,250,252,259,260,262,269,270,272,279,280,282,289,290,292,299,300,302,309,310,312,319,320,322,329,330,332,339,340,342,349,350,352,359,360,362,369,370,372,379,380,382,389,390,392,399,400,402,409,410,412,419,420,422,429,430,432,439,440,442,449,450,452,459,460,462,469,470,472,479,480,482,489,490,492,499,515,516,520,521,523,529,531,550) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframes[dataframe_name] = pd.read_csv(file_path)

In [4]:
# Checking the files
adrenal = dataframes['adrenal']
print(adrenal.head())
print("\nsuccessfully printed!")

              gene_id  90237016002  90406016002  90292016002  90576016002  \
0  ENSRNOG00000000001          0.0          4.0          3.0          5.0
1  ENSRNOG00000000007          0.0          1.0          0.0          1.0
2  ENSRNOG00000000008         12.0          7.0          0.0          8.0
3  ENSRNOG00000000009          0.0          0.0          0.0          0.0
4  ENSRNOG00000000010          0.0          0.0          1.0          0.0

   90416016002  90225016002  90254016002  90441016002  90571016002  ...  \
0          5.0          1.0          2.0          4.0          3.0  ...
1          0.0          0.0          2.0          0.0          6.0  ...
2          8.0         11.0         11.0         13.0         88.0  ...
3          0.0          0.0          0.0          0.0          0.0  ...
4          0.0          1.0          1.0          2.0          2.0  ...

   90267016002  90423016002  90289016002  90421016002  90410016002  \
0          1.0          2.0          3.0          1.0          4.0
1          0.0          1.0          1.0          0.0          0.0
2         10.0          9.0          6.0          6.0         12.0
3          0.0          0.0          0.0          0.0          0.0
4          1.0          0.0          0.0          1.0          2.0

   90280016002  90567016002  90229016002  90258016002  90426016002
0          2.0          5.0          2.0          1.0          2.0
1          0.0          0.0          0.0          0.0          4.0
2          9.0         10.0         16.0          7.0         15.0
3          0.0          1.0          0.0          0.0          0.0
4          4.0          0.0          0.0          2.0          4.0

[5 rows x 53 columns]

successfully printed!

In [5]:
# let's check information about the data
adrenal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32785 entries, 0 to 32784
Data columns (total 53 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gene_id      32785 non-null  object
 1   90237016002  32785 non-null  float64
 2   90406016002  32785 non-null  float64
 3   90292016002  32785 non-null  float64
 4   90576016002  32785 non-null  float64
 5   90416016002  32785 non-null  float64
 6   90225016002  32785 non-null  float64
 7   90254016002  32785 non-null  float64
 8   90441016002  32785 non-null  float64
 9   90571016002  32785 non-null  float64
 10  90444016002  32783 non-null  float64
 11  90578016002  32785 non-null  float64
 12  90587016002  32784 non-null  float64
 13  90450016002  32783 non-null  float64
 14  90449016002  32783 non-null  float64
 15  90222016002  32783 non-null  float64
 16  80040886026  32783 non-null  float64
 17  80041996024  32783 non-null  float64
 18  90248016002  32783 non-null  float64
 19  90265016002  32783 non-null  float64
 20  90420016002  32783 non-null  float64
 21  90564016002  32783 non-null  float64
 22  90217016002  32782 non-null  float64
 23  90266016002  32782 non-null  float64
 24  90227016002  32782 non-null  float64
 25  90281016002  32782 non-null  float64
 26  90412016002  32782 non-null  float64
 27  90439016002  32782 non-null  float64
 28  90239016002  32782 non-null  float64
 29  90559016002  32782 non-null  float64
 30  90252016002  32782 non-null  float64
 31  90581016002  32781 non-null  float64
 32  90245016002  32781 non-null  float64
 33  90283016002  32781 non-null  float64
 34  90232016002  32781 non-null  float64
 35  90430016002  32781 non-null  float64
 36  90223016002  32780 non-null  float64
 37  90218016002  32779 non-null  float64
 38  90259016002  32779 non-null  float64
 39  90585016002  32778 non-null  float64
 40  90560016002  32778 non-null  float64
 41  90251016002  32777 non-null  float64
 42  90422016002  32777 non-null  float64
 43  90267016002  32777 non-null  float64
 44  90423016002  32777 non-null  float64
 45  90289016002  32777 non-null  float64
 46  90421016002  32777 non-null  float64
 47  90410016002  32777 non-null  float64
 48  90280016002  32777 non-null  float64
 49  90567016002  32775 non-null  float64
 50  90229016002  32774 non-null  float64
 51  90258016002  32774 non-null  float64
 52  90426016002  32774 non-null  float64
dtypes: float64(52), object(1)
memory usage: 13.3+ MB

In [6]:

adrenal.describe()

,90237016002,90406016002,90292016002,90576016002,90416016002,90225016002,90254016002,90441016002,90571016002,90444016002,...,90267016002,90423016002,90289016002,90421016002,90410016002,90280016002,90567016002,90229016002,90258016002,90426016002
count,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278500e+04,3.278300e+04,...,3.277700e+04,3.277700e+04,3.277700e+04,3.277700e+04,3.277700e+04,3.277700e+04,3.277500e+04,3.277400e+04,3.277400e+04,3.277400e+04
mean,6.401506e+02,6.157502e+02,5.347229e+02,1.012386e+03,8.994884e+02,6.227506e+02,6.612829e+02,6.636784e+02,8.356816e+02,6.069405e+02,...,5.921066e+02,6.135638e+02,6.412924e+02,6.163609e+02,8.354650e+02,6.363260e+02,6.893310e+02,6.427693e+02,6.450968e+02,8.627683e+02
std,8.858559e+03,1.216495e+04,7.847256e+03,1.806292e+04,1.675803e+04,9.795379e+03,1.227251e+04,1.156133e+04,2.964668e+04,1.134198e+04,...,1.159675e+04,9.509392e+03,1.067253e+04,9.813310e+03,1.609913e+04,1.003296e+04,1.358491e+04,8.429337e+03,1.230051e+04,2.512421e+04
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,...,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.860000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
75%,2.990000e+02,2.610000e+02,2.410000e+02,4.440000e+02,3.880000e+02,2.880000e+02,2.790000e+02,2.920000e+02,1.710000e+02,2.610000e+02,...,2.604500e+02,2.644400e+02,2.680000e+02,2.710000e+02,3.553700e+02,2.830000e+02,2.930000e+02,3.250000e+02,2.783375e+02,2.640000e+02
max,1.308273e+06,1.859125e+06,1.156647e+06,2.712307e+06,2.558305e+06,1.502794e+06,1.865932e+06,1.759311e+06,4.191986e+06,1.721016e+06,...,1.775778e+06,1.415954e+06,1.618352e+06,1.475056e+06,2.436338e+06,1.517668e+06,2.053059e+06,1.230754e+06,1.904570e+06,3.672977e+06

In [7]:
# Checking for outliers
print(adrenal.isnull().sum())

gene_id         0
90237016002     0
90406016002     0
90292016002     0
90576016002     0
90416016002     0
90225016002     0
90254016002     0
90441016002     0
90571016002     0
90444016002     2
90578016002     0
90587016002     1
90450016002     2
90449016002     2
90222016002     2
80040886026     2
80041996024     2
90248016002     2
90265016002     2
90420016002     2
90564016002     2
90217016002     3
90266016002     3
90227016002     3
90281016002     3
90412016002     3
90439016002     3
90239016002     3
90559016002     3
90252016002     3
90581016002     4
90245016002     4
90283016002     4
90232016002     4
90430016002     4
90223016002     5
90218016002     6
90259016002     6
90585016002     7
90560016002     7
90251016002     8
90422016002     8
90267016002     8
90423016002     8
90289016002     8
90421016002     8
90410016002     8
90280016002     8
90567016002    10
90229016002    11
90258016002    11
90426016002    11
dtype: int64

The data contains some missing numbers, we need to clean all the data: from adrenal - white-adipose

In [112]:
# Let visualize the data from adrenal
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Let us create a pair plot for it
sns.pairplot(adrenal, hue="gene_id")
plt.show()

In [8]:
# Read all the files
blood = dataframes['blood-rna']
brown_adipose = dataframes['brown-adipose']
colon = dataframes['colon']
cortex = dataframes['cortex']
endurance_phenotype = dataframes['endurance_phenotype']
gastrocnemius = dataframes['gastrocnemius']
heart = dataframes['heart']
hippocampus = dataframes['hippocampus']
hypothalamus = dataframes['hypothalamus']
kidney = dataframes['kidney']
liver = dataframes['liver']
lung = dataframes['lung']
ovaries = dataframes['ovaries']
smallintestine = dataframes['smallintestine']
spleen = dataframes['spleen']
testes = dataframes['testes']
vastus = dataframes['vastus']
vena_cava = dataframes['vena-cava']
white_adipose = dataframes['white-adipose']

In [9]:
# Check for the outliers
print(blood.isnull().sum())
print("\n", len(blood)) # This prints the length of the blood sample

gene_id        0
90585013001    0
90576013001    0
90560013001    0
90581013001    0
90559013001    0
90567013001    0
90578013001    0
90564013001    0
90571013001    0
90587013001    0
80007000000    0
80008000000    0
90252013001    0
90265013001    0
90439013001    0
90292013001    0
90416013001    0
90280013001    0
90283013001    0
90441013002    0
90289013001    0
90281013001    0
90422013002    0
90420013001    0
90423013002    0
90412013001    0
90410013001    0
90406013001    1
90430013001    0
90449013001    0
90450013001    0
90421013002    0
90444013001    0
90426013001    0
90245013002    0
90229013002    0
90267013002    0
90248013001    0
90225013001    0
90259013002    0
90227013002    0
90239013002    0
90258013001    0
90266013002    0
90218013001    0
90223013002    0
90237013002    1
90232013002    1
90222013002    1
90251013001    1
90254013002    1
90217013001    1
dtype: int64

 32873

In [10]:
# df_list = [adrenal, blood, brown_adipose, colon, cortex, endurance_phenotype, gastrocnemius, heart, hippocampus,
#          hypothalamus, kidney, liver, lung, ovaries, smallintestine, spleen, testes, vastus, vena_cava, white_adipose]

### Cleaning the dataset

In [26]:
# Identify the missing values
adrenal_missing = adrenal.columns[adrenal.isnull().any()]
adrenal_missing_values = adrenal[adrenal_missing]
print(adrenal_missing_values)

       90587016002  90450016002  90449016002  90222016002  80040886026  \
0             2.00        10.00         1.00        10.00         1.00
1             0.00         0.00         0.00         1.00         0.00
2            23.00         7.00        10.00        16.00         7.00
3             0.00         0.00         0.00         0.00         0.00
4             2.00         0.00         3.00        13.00         4.00
...            ...          ...          ...          ...          ...
32780         0.00         0.00         0.00         0.00         0.00
32781         0.00         0.00         1.00        47.00         1.00
32782       234.11       295.43       282.96       469.30       297.21
32783         0.00         0.00         2.00         0.00         0.00
32784         0.00         0.00         0.00         8.34         0.00

       80041996024  90248016002  90265016002  90420016002  90564016002  ...  \
0             1.00         1.00         0.00         7.00         8.00  ...
1             1.00         0.00         1.00         0.00         1.00  ...
2             1.00        10.00        40.00         3.00         8.00  ...
3             0.00         0.00         0.00         0.00         0.00  ...
4             0.00         1.00         5.00         3.00         0.00  ...
...            ...          ...          ...          ...          ...  ...
32780         0.00         0.00         0.00         0.00         0.00  ...
32781         0.00         0.00         0.00         0.00         1.00  ...
32782       200.59       213.44       193.42       222.96       299.72  ...
32783         0.00         1.00         0.00         0.00         0.00  ...
32784         0.00         0.00         0.00         0.00         0.00  ...

       90267016002  90423016002  90289016002  90421016002  90410016002  \
0             1.00         2.00         3.00         1.00         4.00
1             0.00         1.00         1.00         0.00         0.00
2            10.00         9.00         6.00         6.00        12.00
3             0.00         0.00         0.00         0.00         0.00
4             1.00         0.00         0.00         1.00         2.00
...            ...          ...          ...          ...          ...
32780         0.00         0.00         0.00         0.00         0.00
32781         0.00         0.00         1.00         0.00         0.00
32782       208.00       194.28       220.85       234.22       298.01
32783         0.00         0.00         0.00         0.00         0.00
32784        13.33         0.00         0.00         0.00         0.00

       90280016002  90567016002  90229016002  90258016002  90426016002
0             2.00         5.00         2.00         1.00         2.00
1             0.00         0.00         0.00         0.00         4.00
2             9.00        10.00        16.00         7.00        15.00
3             0.00         1.00         0.00         0.00         0.00
4             4.00         0.00         0.00         2.00         4.00
...            ...          ...          ...          ...          ...
32780         0.00         0.00         0.00         0.00         0.00
32781         0.00         0.00         0.00         1.00         0.00
32782       305.33       182.77       341.85       232.49       221.64
32783         0.00         0.00         0.00         0.00         0.00
32784         0.00         0.00         0.00         0.00         4.49

[32785 rows x 41 columns]

In [41]:
# Fill in the missing numbers in adrenal with the mean value
adrenal_missing_filled = adrenal.fillna(adrenal.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\2850355203.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  adrenal_missing_filled = adrenal.fillna(adrenal.mean())

In [39]:
# Check whether there are outliers
print(adrenal_missing_filled.isnull().sum())
# if all zeros, the data is now cleaned

gene_id        0
90237016002    0
90406016002    0
90292016002    0
90576016002    0
90416016002    0
90225016002    0
90254016002    0
90441016002    0
90571016002    0
90444016002    0
90578016002    0
90587016002    0
90450016002    0
90449016002    0
90222016002    0
80040886026    0
80041996024    0
90248016002    0
90265016002    0
90420016002    0
90564016002    0
90217016002    0
90266016002    0
90227016002    0
90281016002    0
90412016002    0
90439016002    0
90239016002    0
90559016002    0
90252016002    0
90581016002    0
90245016002    0
90283016002    0
90232016002    0
90430016002    0
90223016002    0
90218016002    0
90259016002    0
90585016002    0
90560016002    0
90251016002    0
90422016002    0
90267016002    0
90423016002    0
90289016002    0
90421016002    0
90410016002    0
90280016002    0
90567016002    0
90229016002    0
90258016002    0
90426016002    0
dtype: int64

In [42]:
adrenal_missing_filled.head()

,gene_id,90237016002,90406016002,90292016002,90576016002,90416016002,90225016002,90254016002,90441016002,90571016002,...,90267016002,90423016002,90289016002,90421016002,90410016002,90280016002,90567016002,90229016002,90258016002,90426016002
0,ENSRNOG00000000001,0.0,4.0,3.0,5.0,5.0,1.0,2.0,4.0,3.0,...,1.0,2.0,3.0,1.0,4.0,2.0,5.0,2.0,1.0,2.0
1,ENSRNOG00000000007,0.0,1.0,0.0,1.0,0.0,0.0,2.0,0.0,6.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,ENSRNOG00000000008,12.0,7.0,0.0,8.0,8.0,11.0,11.0,13.0,88.0,...,10.0,9.0,6.0,6.0,12.0,9.0,10.0,16.0,7.0,15.0
3,ENSRNOG00000000009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,ENSRNOG00000000010,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0,2.0,...,1.0,0.0,0.0,1.0,2.0,4.0,0.0,0.0,2.0,4.0

In [ ]:
# Get information about the dataset
adrenal_missing_filled.describe()

Adrenal database has been cleaned, let's repeat the same step for the other data set.
The list of the database is 
df_list = [adrenal, blood, brown_adipose, colon, cortex, endurance_phenotype, gastrocnemius, heart, hippocampus,
        hypothalamus, kidney, liver, lung, ovaries, smallintestine, spleen, testes, vastus, vena_cava, white_adipose]

In [44]:
# Fill blood missing values with the mean() as well
blood_missing_filled = blood.fillna(blood.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3309309818.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  blood_missing_filled = blood.fillna(blood.mean())

In [45]:
print(blood_missing_filled.isnull().sum()) # blood database is cleaned

gene_id        0
90585013001    0
90576013001    0
90560013001    0
90581013001    0
90559013001    0
90567013001    0
90578013001    0
90564013001    0
90571013001    0
90587013001    0
80007000000    0
80008000000    0
90252013001    0
90265013001    0
90439013001    0
90292013001    0
90416013001    0
90280013001    0
90283013001    0
90441013002    0
90289013001    0
90281013001    0
90422013002    0
90420013001    0
90423013002    0
90412013001    0
90410013001    0
90406013001    0
90430013001    0
90449013001    0
90450013001    0
90421013002    0
90444013001    0
90426013001    0
90245013002    0
90229013002    0
90267013002    0
90248013001    0
90225013001    0
90259013002    0
90227013002    0
90239013002    0
90258013001    0
90266013002    0
90218013001    0
90223013002    0
90237013002    0
90232013002    0
90222013002    0
90251013001    0
90254013002    0
90217013001    0
dtype: int64

In [46]:
# fill in brown_adipose
brown_adipose_filled = brown_adipose.fillna(brown_adipose.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\1717621335.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  brown_adipose_filled = brown_adipose.fillna(brown_adipose.mean())

In [47]:
# fill in colon
colon_filled = colon.fillna(colon.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3062436408.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  colon_filled = colon.fillna(colon.mean())

In [48]:
# fill in cortex
cortex_filled = cortex.fillna(cortex.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\1862054122.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  cortex_filled = cortex.fillna(cortex.mean())

In [50]:
# fill in endurance_phenotype
endurance_phenotype_filled = endurance_phenotype.fillna(endurance_phenotype.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\2780393775.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  endurance_phenotype_filled = endurance_phenotype.fillna(endurance_phenotype.mean())

In [51]:
# fill in gastrocnemius
gastrocnemius_filled = gastrocnemius.fillna(gastrocnemius.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\753894118.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  gastrocnemius_filled = gastrocnemius.fillna(gastrocnemius.mean())

In [52]:
# fill in heart
heart_filled = heart.fillna(heart.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3016844733.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  heart_filled = heart.fillna(heart.mean())

In [53]:
# fill in hippocampus
hippocampus_filled = hippocampus.fillna(hippocampus.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\984533791.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  hippocampus_filled = hippocampus.fillna(hippocampus.mean())

In [54]:
# fill in hypothalamus
hypothalamus_filled = hypothalamus.fillna(hypothalamus.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3311312500.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  hypothalamus_filled = hypothalamus.fillna(hypothalamus.mean())

In [55]:
# fill in kidney
kidney_filled = kidney.fillna(kidney.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3287820597.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  kidney_filled = kidney.fillna(kidney.mean())

In [56]:
# fill in liver
liver_filled = liver.fillna(liver.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\2396223037.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  liver_filled = liver.fillna(liver.mean())

In [57]:
# fill in lung
lung_filled = lung.fillna(lung.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3907053300.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  lung_filled = lung.fillna(lung.mean())

In [58]:
# fill in ovaries
ovaries_filled = ovaries.fillna(ovaries.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\792110373.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  ovaries_filled = ovaries.fillna(ovaries.mean())

In [59]:
# fill in smallintestine
smallintestine_filled = smallintestine.fillna(smallintestine.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\3032959887.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  smallintestine_filled = smallintestine.fillna(smallintestine.mean())

In [61]:
# fill in spleen
spleen_filled = spleen.fillna(spleen.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\505519930.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  spleen_filled = spleen.fillna(spleen.mean())

In [62]:
# fill in testes
testes_filled = testes.fillna(testes.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\1891168354.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  testes_filled = testes.fillna(testes.mean())

In [63]:
# fill in vastus
vastus_filled = vastus.fillna(vastus.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\1900245895.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  vastus_filled = vastus.fillna(vastus.mean())

In [64]:
# fill in vena_cava & white_adipose
vena_cava_filled = vena_cava.fillna(vena_cava.mean())
white_adipose_filled = white_adipose.fillna(white_adipose.mean())

C:\Users\HP\AppData\Local\Temp\ipykernel_17292\2216156642.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  vena_cava_filled = vena_cava.fillna(vena_cava.mean())
C:\Users\HP\AppData\Local\Temp\ipykernel_17292\2216156642.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  white_adipose_filled = white_adipose.fillna(white_adipose.mean())

In [67]:
# Let's randomly check the dataset
vena_cava_filled.head()
print(vena_cava_filled.isna()) # prints (False), showing there are no outliers and data is cleaned

       gene_id  90280016502  90227016502  90239016502  90254016502  \
0        False        False        False        False        False
1        False        False        False        False        False
2        False        False        False        False        False
3        False        False        False        False        False
4        False        False        False        False        False
...        ...          ...          ...          ...          ...
32878    False        False        False        False        False
32879    False        False        False        False        False
32880    False        False        False        False        False
32881    False        False        False        False        False
32882    False        False        False        False        False

       90281016502  90265016502  90251016502  90252016502  90225016502  ...  \
0            False        False        False        False        False  ...
1            False        False        False        False        False  ...
2            False        False        False        False        False  ...
3            False        False        False        False        False  ...
4            False        False        False        False        False  ...
...            ...          ...          ...          ...          ...  ...
32878        False        False        False        False        False  ...
32879        False        False        False        False        False  ...
32880        False        False        False        False        False  ...
32881        False        False        False        False        False  ...
32882        False        False        False        False        False  ...

       90223016502  90416016502  90248016502  90259016502  90412016502  \
0            False        False        False        False        False
1            False        False        False        False        False
2            False        False        False        False        False
3            False        False        False        False        False
4            False        False        False        False        False
...            ...          ...          ...          ...          ...
32878        False        False        False        False        False
32879        False        False        False        False        False
32880        False        False        False        False        False
32881        False        False        False        False        False
32882        False        False        False        False        False

       90406016502  90410016502  90245016502  90292016502  90266016502
0            False        False        False        False        False
1            False        False        False        False        False
2            False        False        False        False        False
3            False        False        False        False        False
4            False        False        False        False        False
...            ...          ...          ...          ...          ...
32878        False        False        False        False        False
32879        False        False        False        False        False
32880        False        False        False        False        False
32881        False        False        False        False        False
32882        False        False        False        False        False

[32883 rows x 31 columns]

### Store the files to a directory

In [103]:
# Create a list for the filled data set
df_filled = [adrenal_missing_filled, blood_missing_filled,
            brown_adipose_filled, colon_filled, cortex_filled,
             endurance_phenotype_filled, gastrocnemius_filled,
             heart_filled, hippocampus_filled, hypothalamus_filled,
             kidney_filled, liver_filled, lung_filled, ovaries_filled,
             smallintestine_filled, spleen_filled, testes_filled,
             vastus_filled, vena_cava_filled, white_adipose_filled  
            ]

In [111]:
for excel in df_filled:
    print("file initiated")
    excel.to_csv(input("What should be the name? "), index=False)
    print("File saved to the Local Disk...")

file initiated
What should be the name? adrenal_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? blood_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? brown-adipose_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? colon_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? cortex_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? endurance-phenotype_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? gastrocnemius_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? heart_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? hippocampus_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? hypothalamus_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? kidney_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? liver_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? lung_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? ovaries_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? smallintestine_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? spleen_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? testes_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? vastus_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? vena-cava_rna.csv
File saved to the Local Disk...
file initiated
What should be the name? white-adipose_rna.csv
File saved to the Local Disk...

### Merging the data

In [84]:
merged_data = pd.concat(df_filled)

In [88]:
print(merged_data)

                  gene_id  90237016002  90406016002  90292016002  90576016002  \
0      ENSRNOG00000000001          0.0          4.0          3.0          5.0
1      ENSRNOG00000000007          0.0          1.0          0.0          1.0
2      ENSRNOG00000000008         12.0          7.0          0.0          8.0
3      ENSRNOG00000000009          0.0          0.0          0.0          0.0
4      ENSRNOG00000000010          0.0          0.0          1.0          0.0
...                   ...          ...          ...          ...          ...
32857  ENSRNOG00000062304          NaN          NaN          NaN          NaN
32858  ENSRNOG00000062305          NaN          NaN          NaN          NaN
32859  ENSRNOG00000062306          NaN          NaN          NaN          NaN
32860  ENSRNOG00000062307          NaN          NaN          NaN          NaN
32861  ENSRNOG00000062308          NaN          NaN          NaN          NaN

       90416016002  90225016002  90254016002  90441016002  90571016002  ...  \
0              5.0          1.0          2.0          4.0          3.0  ...
1              0.0          0.0          2.0          0.0          6.0  ...
2              8.0         11.0         11.0         13.0         88.0  ...
3              0.0          0.0          0.0          0.0          0.0  ...
4              0.0          1.0          1.0          2.0          2.0  ...
...            ...          ...          ...          ...          ...  ...
32857          NaN          NaN          NaN          NaN          NaN  ...
32858          NaN          NaN          NaN          NaN          NaN  ...
32859          NaN          NaN          NaN          NaN          NaN  ...
32860          NaN          NaN          NaN          NaN          NaN  ...
32861          NaN          NaN          NaN          NaN          NaN  ...

       90564017005  90567017005  90571017005  90576017005  90578017005  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
32857         0.00         0.00          0.0         0.00         2.00
32858        75.01        68.01          1.0         0.00         2.00
32859       582.36       679.74        507.4       409.53       551.16
32860         0.00         0.00          0.0         0.00         0.00
32861         0.00         0.00          0.0         0.00         0.00

       90581017005  90585017005  90587017005  80005997012  80004887012
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
32857         0.00         0.00         0.00         0.00         0.00
32858         0.00         5.00         0.00         2.00         1.00
32859       584.59       571.59       575.91       666.97       404.71
32860         0.00         0.00         0.00         0.00         0.00
32861         0.00         0.00         0.00         0.00         0.00

[630490 rows x 1476 columns]

### Splitting the dataset into X (dependent variable) and Y (independent variable)